<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="shape" class="com.example.Circle">
        <constructor-arg name="radius" value="7"></constructor-arg>
        <property name="creator" value="solomonrock" ref="address"></property>
    </bean>

    <bean id="address" class="com.example.Address"></bean>

</beans>